.foot-hoskar {
    width: 100%;
    background-color: #006165;
}

.coppyright {
    font-family: Urbanist;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    padding: 21.5px;
    text-align: center;
}