$primary-font: "Urbanist",
sans-serif;
$secondary-font: "Beautiful Heart",
sans-serif;
$blue: #00e6ff;
$light-blue: #15d1e5;
$dark-blue: #00aadf;
$dark-green: #006165;
$primary-color: #ffffff;
$secondary-color: #161616;